SEARCH_CONDITIONS=<SEARCH-CONDITIONS-HERE>
BOT_TOKEN=<BOT-TOKEN-HERE>
BOT_CHATID=<CHAT-ID-HERE>
EXCLUDE_TITLE=<COMMA-SEPARATED-WORDS-TO-SKIP>
HTTP_PROXY=<HTTP-PROXY-HERE>
HTTPS_PROXY=<HTTPS-PROXY-HERE>
